.header{
    margin: .5rem;
    padding-left: 10px;
}

.header ul li {
    list-style: none;
    display: inline;
    margin: 0;
    padding: .5rem 1rem;
    border-radius: 3px;
}

.header ul li:hover{
    background-color: #444;
}

a{
    text-decoration: none;
}